canvas{
    margin-bottom: -50px;
    margin-left: 60px; 
    background-image:url(img/snow.png);
   
}
h1{
    font-family: Bangers;
    font-size: 100px;
    background-image: url(img/background.jpg);
    color: white;
    text-align: center;
    padding: 35px;
    
}
body{
    background-image: url(img/background.jpg);
margin-right: 50px!important;
}
#ovladani{
    color: white;
    
    margin-right: 10px;
}

h2{
    margin-left: 70px;
    margin-bottom: 30px!important;
}
#text{
    margin-left: 20px;
}
.container{
    font-size: 70px;
    margin-left: 1600px!important;
    margin-top: -800px;
    color: white;
}